.banner
  .w3layouts-banner-slider
    .container
      .slider
        .callbacks_container
          %ul#slider4.rslides.callbacks.callbacks1
            %li
              .agileits-banner-info
                %h3
                  Гибкий подход
                  %span изменение концепции во время процесса
                .w3-button
                  .w3ls-button
                    %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                  .clearfix
            %li
              .agileits-banner-info
                %h3
                  Уникальный дизайн
                  %span повторить одну и ту же работу дважды не возможно
                .w3-button
                  .w3ls-button
                    %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                  .clearfix
            %li
              .agileits-banner-info
                %h3
                  Готовность к командировкам
                  %span нас не пугают далекие города и страны
                .w3-button
                  .w3ls-button
                    %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                  .clearfix
        .clearfix