#gallery.gallery
  .gallery-info.text-center
    %h3 Наши проекты
    %label
  .gallery-content
    .container
      #gal.portfolio-gallery
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => "", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .hovereffect
            %a.chocolat-image{:href => "images/gallery-img111.jpg"}
              %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
              .overlay
                %h4 Планеты с птыцами
        .clearfix
    / container / end