/ services
#services.services
  .services-info.text-center
    %h3 Перечень услуг
    %label
  .services-content
    .container
      .row
        .col-sm-6.col-md-6.serv
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-building-o{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Художественная роспись интерьеров
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-briefcase{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Граффити внешних и внутренних помещений
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-line-chart{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Аэрография автомобилей, шлемов, компьютерных кейсов
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-user-o{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Индивидуальный подход к каждому заказу, никаких повторений!
              .clearfix
        .col-sm-6.col-md-6.serv
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-bar-chart{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Качественная визуализация на начальном этапе, макет в photoshop
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-calendar-o{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Все краски и материалы высокого качества, что немаловажно для жилых помещений
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-external-link{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Гибкий граффик работы, ведь мы же художники :)
              .clearfix
          .service1
            .row.serv1
              .col-sm-2.col-md-2.icon1
                %i.fa.fa-wpforms{"aria-hidden" => "true"}
              .col-sm-10.col-md-10
                %p Выезд на обьект в любую точку мира
              .clearfix
        .clearfix