/ stats
.stats
  .stats-info.text-center
    %h3 Наш датчик выполненых работ
    %label
  #stats.stats.second
    .container
      .wthree_head_section
      .agile_wthree_inner_grids
        .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid
          %i.fa.fa-building-o{"aria-hidden" => "true"}
          %p.counter 25
          %h3 Заказов
        .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid1
          %i.fa.fa-bar-chart{"aria-hidden" => "true"}
          %p.counter 200
          %h3 макетов
        .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid2
          %i.fa.fa-users{"aria-hidden" => "true"}
          %p.counter 15
          %h3 уникальных концепций
        .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid3
          %i.fa.fa-star{"aria-hidden" => "true"}
          %p.counter 12
          %h3 заказов госуровня
        .clearfix
/ //stats