%body
  .top.nav
    %nav.navbar.navbar-default
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %h1.navbar-brand
            %a{:href => "#"}
              %span> E
              cho-Art
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %nav#link-effect-2.link-effect-2
            %ul.nav.navbar-nav.navbar-right
              %li.active
                =link_to 'Домой', root_url, { class: '.effect-3' }
              %li
                %a.effect-3.page-scroll{:href => "#we-offer"} О нас
              %li
                %a.effect-3.page-scroll{:href => "#services"} Наши услуги
              %li
                %a.effect-3.page-scroll{:href => "#our-team"} Наша команда
              %li
                %a.effect-3.page-scroll{:href => "#gallery"} Проекты
              %li
                %a.effect-3.page-scroll{:href => "#testimonials"} Отзывы
              %li
                %a.effect-3.page-scroll{:href => "#contact"} Связаться с нами
        / /.navbar-collapse
      / /.container-fluid
  / banner
  .banner
    .w3layouts-banner-slider
      .container
        .slider
          .callbacks_container
            %ul#slider4.rslides.callbacks.callbacks1
              %li
                .agileits-banner-info
                  %h3
                    Гибкий подход
                    %span изменение концепции во время процесса
                  .w3-button
                    .w3ls-button
                      %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                    .clearfix
              %li
                .agileits-banner-info
                  %h3
                    Уникальный дизайн
                    %span повторить одну и ту же работу дважды не возможно
                  .w3-button
                    .w3ls-button
                      %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                    .clearfix
              %li
                .agileits-banner-info
                  %h3
                    Готовность к командировкам
                    %span нас не пугают далекие города и страны
                  .w3-button
                    .w3ls-button
                      %a.scroll.hvr-shutter-out-vertical.page-scroll{:href => "#we-offer"} О нас
                    .clearfix
          .clearfix
  / about
  #we-offer.we-offer
    .we-offer-info.text-center
      %h3 Что мы можем вам предложить
      %label
      %p Особые проекты обговариваются отдельно
    .we-offer-content
      .container
        .row
          .col-sm-4.col-md-4.we-offer-cont
            .we-offer-content1
              .row.cont
                .col-sm-3.col-md-2.cont-icon1
                  %i.fa.fa-anchor{"aria-hidden" => "true"}
                .col-sm-9.col-md-10
                  %h3 Граффити
                  %p на внутренних и внешних стенах
                .clearfix
            .we-offer-par
              %p Используются высококлассные, быстро выветривающиеся краски
          .col-sm-4.col-md-4.we-offer-cont
            .we-offer-content1
              .row.cont
                .col-sm-3.col-md-2.cont-icon1
                  %i.fa.fa-users{"aria-hidden" => "true"}
                .col-sm-9.col-md-10
                  %h3 Художественная роспись
                  %p Различные приемы и техники
                .clearfix
            .we-offer-par
              %p Художественная роспись позволяет получить высокую детализацию и обработку мелких деталей
          .col-sm-4.col-md-4.we-offer-cont
            .we-offer-content1
              .row.cont
                .col-sm-3.col-md-2.cont-icon1
                  %i.fa.fa-wpforms{"aria-hidden" => "true"}
                .col-sm-9.col-md-10
                  %h3 Аэрография
                  %p Роспись аэрографом
                .clearfix
              .we-offer-par
                %p Позволяет добиться высокой детализации
          .clearfix
    .we-offer-about
      .container
        .row.about
          .col-sm-6.col-md-6.choose
            %h2 Почему вам стоит выбрать именно нас?
            %label
            %p Полное сопровождение проекта от макета до исполнения
            #accordion.panel-group.w3l_panel_group_faq{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingOne.panel-heading{:role => "tab"}
                  %h4.panel-title.asd
                    %a.pa_italic{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                      %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
                      = succeed "Разработка макета в photoshop" do
                        %i.glyphicon.glyphicon-minus{"aria-hidden" => "true"}
                #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                  .panel-body.panel_text
                    Вы можете уже на начальном этапе увидеть, как будет выглядеть рисунок в интерьере
              .panel.panel-default
                #headingTwo.panel-heading{:role => "tab"}
                  %h4.panel-title.asd
                    %a.pa_italic.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                      %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
                      = succeed "Элементы интерьера учитываются" do
                        %i.glyphicon.glyphicon-minus{"aria-hidden" => "true"}
                #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                  .panel-body.panel_text
                    Мы можем обыграть батареи, подоконник, каминный портал, да все что угодно так, чтобы это гармонировало с рисунком.
              .panel.panel-default
                #headingThree.panel-heading{:role => "tab"}
                  %h4.panel-title.asd
                    %a.pa_italic.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                      %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
                      = succeed "Выбор остается за вами!" do
                        %i.glyphicon.glyphicon-minus{"aria-hidden" => "true"}
                #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                  .panel-body.panel_text
                    Так или иначе, именно вы решаете, как будет выглядеть окончательный рисунок.
          .col-sm-6.col-md-6
            %img{:alt => " ", :src => "images/we-offer-img.jpg"}/
          .clearfix
  / services
  #services.services
    .services-info.text-center
      %h3 Перечень услуг
      %label
    .services-content
      .container
        .row
          .col-sm-6.col-md-6.serv
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-building-o{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Художественная роспись интерьеров
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-briefcase{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Граффити внешних и внутренних помещений
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-line-chart{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Аэрография автомобилей, шлемов, компьютерных кейсов
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-user-o{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Индивидуальный подход к каждому заказу, никаких повторений!
                .clearfix
          .col-sm-6.col-md-6.serv
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-bar-chart{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Качественная визуализация на начальном этапе, макет в photoshop
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-calendar-o{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Все краски и материалы высокого качества, что немаловажно для жилых помещений
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-external-link{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Гибкий граффик работы, ведь мы же художники :)
                .clearfix
            .service1
              .row.serv1
                .col-sm-2.col-md-2.icon1
                  %i.fa.fa-wpforms{"aria-hidden" => "true"}
                .col-sm-10.col-md-10
                  %p Выезд на обьект в любую точку мира
                .clearfix
          .clearfix
  / team
  #our-team.our-team
    .our-team-info.text-center
      %h3 Наша команда
      %label
    #team.our-team_services
      .container
        .agile_wthree_inner_grids
          .col-md-4.w3_agile_team_grid_info
            %img.img-responsive{:alt => " ", :src => "images/team-img2.jpg"}/
            %h3 Юрий
            %p 2d concept-artist
            .agileits_w3layouts_nav_right.team_agile._icons
              %ul
                %li
                  %a.w3_agile_facebook{:href => "#"}
                    %i.fa.fa-facebook{"aria-hidden" => "true"}
                %li
                  %a.agile_twitter{:href => "#"}
                    %i.fa.fa-twitter{"aria-hidden" => "true"}
                %li
                  %a.w3_agile_dribble{:href => "#"}
                    %i.fa.fa-dribbble{"aria-hidden" => "true"}
          .col-md-4.w3_agile_team_grid_info
            %img.img-responsive{:alt => " ", :src => "images/team-img1.jpg"}/
            %h3 Тоня
            %p GENERAL MANAGER
            .agileits_w3layouts_nav_right.team_agile._icons
              %ul
                %li
                  %a.w3_agile_facebook{:href => "#"}
                    %i.fa.fa-facebook{"aria-hidden" => "true"}
                %li
                  %a.agile_twitter{:href => "#"}
                    %i.fa.fa-twitter{"aria-hidden" => "true"}
                %li
                  %a.w3_agile_dribble{:href => "#"}
                    %i.fa.fa-dribbble{"aria-hidden" => "true"}
          .col-md-4.w3_agile_team_grid_info
            %img.img-responsive{:alt => " ", :src => "images/team-img3.jpg"}/
            %h3 Кирилл
            %p IT
            .agileits_w3layouts_nav_right.team_agile._icons
              %ul
                %li
                  %a.w3_agile_facebook{:href => "#"}
                    %i.fa.fa-facebook{"aria-hidden" => "true"}
                %li
                  %a.agile_twitter{:href => "#"}
                    %i.fa.fa-twitter{"aria-hidden" => "true"}
                %li
                  %a.w3_agile_dribble{:href => "#"}
                    %i.fa.fa-dribbble{"aria-hidden" => "true"}
          .clearfix
  / team
  #gallery.gallery
    .gallery-info.text-center
      %h3 Наши проекты
      %label
    .gallery-content
      .container
        #gal.portfolio-gallery
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => "", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .gallery_product.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .hovereffect
              %a.chocolat-image{:href => "images/gallery-img111.jpg"}
                %img.img-responsive{:alt => " ", :src => "images/gallery-img111.jpg"}/
                .overlay
                  %h4 Планеты с птыцами
          .clearfix
      / container / end
  / stats
  .stats
    .stats-info.text-center
      %h3 Наш датчик выполненых работ
      %label
    #stats.stats.second
      .container
        .wthree_head_section
        .agile_wthree_inner_grids
          .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid
            %i.fa.fa-building-o{"aria-hidden" => "true"}
            %p.counter 25
            %h3 Заказов
          .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid1
            %i.fa.fa-bar-chart{"aria-hidden" => "true"}
            %p.counter 200
            %h3 макетов
          .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid2
            %i.fa.fa-users{"aria-hidden" => "true"}
            %p.counter 15
            %h3 уникальных концепций
          .col-sm-3.col-md-3.w3layouts_stats_left.w3_counter_grid3
            %i.fa.fa-star{"aria-hidden" => "true"}
            %p.counter 12
            %h3 заказов госуровня
          .clearfix
  / //stats
  #testimonials.testimonials
    .testimonials-info.text-center
      %h3 Отзывы
      %label
    .testimonials-content
      .container
        #myCarousel.carousel.slide{"data-interval" => "3000", "data-pause" => "false", "data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            .item.active
              .row
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => " ", :src => "images/team-img3.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Кирилл Журавлев
                      %p Уникальная работа, профессиональный подход к делу, я доволен!
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => "", :src => "images/team-img3.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Кирилл Журавлев
                      %p Хочу еще!!!!
            .item
              .row
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => " ", :src => "images/team-img1.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Тоня
                      %p Красавчик!
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => "", :src => "images/team-img2.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Юра
                      %p Зналибы вы, как меня это все зае*ло!)
            .item
              .row
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => " ", :src => "images/team-img2.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Юра
                      %p Еще и 2 раза придется писать комментарий
                .col-xs-6.col-sm-6.col-md-6
                  .row
                    .col-sm-12.col-md-6
                      %img{:alt => "", :src => "images/testimonials-img2.jpg"}/
                    .col-sm-12.col-md-6
                      %h3 Романа
                      %p Я ваще хз, кто вы такие, но нужно оставить комментарий)
          / Left and right controls
  #contact.contact
    .contact-info.text-center
      %h3 Связаться с нами
      %label
    .contact-content
      .container
        .row
          .col-sm-12.col-md-3
            .contact-tel
              %ul
                %li.tel1
                  %i.fa.fa-mobile{"aria-hidden" => "true"}
                  %span +(978) 777 77 77
                %li.tel2
                  %i.fa.fa-envelope-o.contact-mail{"aria-hidden" => "true"}
                  %a{:href => "mailto:info@outlook.com"} мой_имейл@example1.com
          .col-sm-12.col-md-9
            .contact-form
              %form#contact-us{:action => "#", :method => "post"}
                .row.form1
                  .col-sm-12.col-md-6
                    %input.name{:name => "name", :placeholder => "имя", :type => "text"}/
                  .col-sm-12.col-md-6
                    %input.email{:name => "email", :placeholder => "имейл", :type => "email"}/
                .row.form2
                  .col-sm-12.col-md-8
                    %textarea.textarea{:placeholder => "сообщение"}
                  .col-sm-12.col-md-4.text-center
                    %input.submit{:type => "submit", :value => "Submit"}/
  .footer.text-center
    \© 2019 Исполнители. Опенсорс | Разработка сайта Журавлев Кирилл | Разработка интерфейса
    %a{:href => "https://w3layouts.com/"} W3layouts
  %script{:src => "js/jquery-2.1.4.min.js"}
  %script{:src => "js/bootstrap.js"}
  %script{:src => "js/move-top.js"}
  %script{:src => "js/smoothscroll.js"}
  %script{:src => "js/jquery.easing.min.js"}
  %script{:src => "js/grayscale.js"}
  :javascript
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  :javascript
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider3").responsiveSlides({
        auto: true,
        pager: false,
        nav: false,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  %script{:src => "js/responsiveslides.min.js"}
  / stats
  %script{:src => "js/jquery.waypoints.min.js"}
  %script{:src => "js/jquery.countup.js"}
  :javascript
    $('.counter').countUp();
  / //stats
  / js for gallery
  %script{:src => "js/jquery.chocolat.js", :type => "text/javascript"}
  :javascript
    $(function(){
                    $('#gal').Chocolat({
                        imageSize: 'contain'
                    });
                });
  :javascript
    $(document).ready(function() {
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear' 
    };
    $().UItoTop({ easingType: 'easeOutQuart' });

    });
  / //js for gallery